.container {
  margin: 0 auto;
  max-width: 1249px;
  padding: 0 20px;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__item {
  min-width: 19%;
}
.navbar__item a {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  background-color: #ffc600;
  width: 100%;
}
.navbar__menu {
  display: none;
}
.navbar__menu a {
  cursor: pointer;
  background-color: #ffc600;
  padding: 20px;
}
.navbar__menu #icon-menu {
  display: initial;
}
.navbar__menu #icon-close {
  display: none;
}

.top {
  margin-top: 20px;
  position: relative;
}
.top__big {
  background-image: url("../assets/images/taco-main.jpg");
  background-size: cover;
  background-position: bottom right;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 50px;
}
.top__big h1, .top__big p {
  background-color: #ffc600;
  padding: 5px;
}
.top__big h1 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 700;
}
.top__big p {
  font-size: 15px;
  font-weight: 900;
}
.top__price {
  background-color: #ffc600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 188px;
  margin-bottom: 24px;
}
.top__price-price {
  font-size: 60px;
  font-weight: 300;
}
.top__price-name {
  font-size: 15px;
  font-weight: 900;
}

.features {
  margin-top: 20px;
}
.features__item {
  background-color: #FFF;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__item span {
  font-size: 50px;
}
.features__item h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.features__item p {
  margin: 15px 0;
  color: rgb(118, 118, 118);
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

.about {
  margin-top: 20px;
  padding: 50px;
  background-color: #FFF;
}
.about h2 {
  font-weight: 700;
  font-size: 22px;
}
.about p {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 900;
}
.about button {
  border: none;
  background: #ffc600;
  padding: 10px 20px;
}

.gallery .col-2 {
  padding: 12px 12px 0 12px;
}
.gallery__title {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__title h2 {
  width: 50%;
  position: relative;
  text-align: center;
}
.gallery__title .first-line {
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background: -webkit-gradient(linear, , from(#ffc600), to(transparent));
  background: linear-gradient(to var(--direction, left), #ffc600, transparent);
}
.gallery__title .second-line {
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background: -webkit-gradient(linear, , from(#ffc600), to(transparent));
  background: linear-gradient(to var(--direction, right), #ffc600, transparent);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url("../assets/images/bg.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
  margin: 50px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #272727;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #272727;
}

p {
  margin: 0;
  padding: 0;
  color: #272727;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1010px) {
  .navbar__items {
    display: none;
    margin-top: 30px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .navbar__item {
    margin-top: 10px;
    margin-right: 20px;
    min-width: 25%;
  }
  .navbar__menu {
    display: initial;
  }

  .top {
    margin-top: 40px;
  }
}
@media screen and (max-width: 947px) {
  .gallery__title h2 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .top__price {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .features__item {
    margin-bottom: 20px;
  }
}