.navbar
    &__items
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
    &__item
        min-width: 19%
        a
            padding: 10px
            font-size: 20px
            text-transform: uppercase
            font-weight: 900
            text-align: center
            display: inline-block
            background-color: $yellow
            width: 100%
    &__menu
        display: none
        a
            cursor: pointer 
            background-color: $yellow
            padding: 20px
        #icon-menu
           display: initial
        #icon-close
            display: none